<div class="form-container">
  <h1>PC Part Vault</h1>

  <form
    #partForm="ngForm"
    (ngSubmit)="addPcPart(partForm)"
    class="form-group"
  >

    <div class="form-section">
      <label for="name">Name:</label>

      <input
        [(ngModel)]="newPcPart.name"
        id="name"
        name="name"
        type="text"
      />
    </div>

    <div class="form-section">
      <label for="category">Category:</label>

      <select
        [(ngModel)]="newPcPart.category"
        class="form-select"
        id="category"
        name="category"
      >
        <option disabled value="">Select a category</option>
        <option value="CPU">CPU</option>
        <option value="GPU">GPU</option>
        <option value="RAM">RAM</option>
        <option value="MOTHERBOARD">MOTHERBOARD</option>
        <option value="COOLER">COOLER</option>
        <option value="CASE">CASE</option>
        <option value="FANS">FANS</option>
        <option value="PSU">PSU</option>
      </select>
    </div>

    <div class="form-section">
      <label for="manufacturer">Manufacturer:</label>

      <input
        [(ngModel)]="newPcPart.manufacturer"
        id="manufacturer"
        name="manufacturer"
        type="text"
      />
    </div>

    <div class="form-section">
      <label for="price">Price:</label>

      <input
        [(ngModel)]="newPcPart.price"
        id="price"
        name="price"
        type="number"
      />
    </div>

    <div class="form-section">
      <label for="quantity">Quantity:</label>

      <input
        [(ngModel)]="newPcPart.quantity"
        id="quantity"
        name="quantity"
        type="number"
      />
    </div>

    <button
      class="btn-primary"
      type="submit"
    >
      Add PC Part
    </button>

    @if (errorMessage) {
    <p class="error">
      {{ errorMessage }}
    </p>
    }

  </form>
</div>
