<h1>PC Part Inventory</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (part of pcParts(); track part.id){
      <tr>

        @if (editingPart?.id === part.id) {
        <td>
          <input
            type="text"
            [(ngModel)]="editingPart!.name"
            name="edit-name"
          />
        </td>

        <td>
          <input
            type="text"
            [(ngModel)]="editingPart!.category"
            name="edit-category"
          />
        </td>

        <td>
          <input
            type="text"
            [(ngModel)]="editingPart!.manufacturer"
            name="edit-manufacturer"
          />
        </td>

        <td>
          <input
            type="number"
            [(ngModel)]="editingPart!.price"
            name="edit-price"
          />
        </td>

        <td>
          <input
            type="number"
            [(ngModel)]="editingPart!.quantity"
            name="edit-quantity"
          />
        </td>

        <td>
          <button (click)="saveEditing()">Save</button>
          <button (click)="cancelEditing()">Cancel</button>
        </td>
        } @else{
            <td>{{ part.name }}</td>
            <td>{{ part.category }}</td>
            <td>{{ part.manufacturer }}</td>
            <td>${{ part.price }}</td>
            <td>{{ part.quantity }}</td>
            <td>
              <button (click)="startEditing(part)">Edit</button>
              <button (click)="deletePcPart(part.id)">Delete</button>
            </td>

          }
      </tr>

    }
  </tbody>
</table>


